@tailwind base;
@tailwind components;
@tailwind utilities;



.ellipse{
  background: url('../public/images/Ellipse\ 8.png');

  background-size: cover;
}

.gril{
  background: url('../public/images/grilback.png')   no-repeat center;

  background-size: contain ;
}

.header2bg{
  background: url('../public/images/header2bg.png') right no-repeat;
  background-size: cover  !important;
}

.ovarlay2{
  background: url('../public/images/ovarlay22.png');
  width: 100% !important;
  height: 100% !important;
}